<!-- Modal Nueva Skill -->
<div class="modal fade" id="new-skill" tabindex="-1" aria-labelledby="new-skill" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-skill">Nueva Skill</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
      </div>
      <!-- formulario Nueva Skill-->
      <form [formGroup]="form" (ngSubmit)="onCreate()" novalidate #f="ngForm" name="new-skill">
        <div class="modal-body">
          <div class="mb-3">
            <label for="nombre" class="form-label">Skill:</label>
            <input type="text" class="form-control" placeholder="Ingrese el Nombre" formControlName="nombre"
              [ngClass]="{'is-invalid': Nombre.errors && Nombre.touched, 'is-valid': !Nombre.errors && Nombre.touched}">
            <div *ngIf="Nombre.errors && Nombre.touched" class="invalid-feedback">
              <p *ngIf="Nombre.errors['required']">
                El Nombre es requerido.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="logo" class="form-label">Logo:</label>
            <input type="url" class="form-control" placeholder="Ingrese la URL" formControlName="logo"
              [ngClass]="{'is-invalid': Logo.errors && Logo.touched, 'is-valid': !Logo.errors && Logo.touched}">
            <div *ngIf="Logo.errors && Logo.touched" class="invalid-feedback">
              <p *ngIf="Logo.errors['required']">
                El Logo es requerido.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="porcentaje" class="form-label">Porcentaje:</label>
            <input type="number" min="0" max="100" class="form-control" placeholder="%" formControlName="porcentaje"
              [ngClass]="{'is-invalid': Porcentaje.errors && Porcentaje.touched, 'is-valid': !Porcentaje.errors && Porcentaje.touched}">
            <div *ngIf="Porcentaje.errors && Porcentaje.touched">
              <p *ngIf="Porcentaje.hasError('required')" class="text-danger">
                El Porcentaje es requerido.
              </p>
              <p *ngIf="Porcentaje.hasError('min')" class="text-danger">
                El Porcentaje mínimo es 0.
              </p>
              <p *ngIf="Porcentaje.hasError('max')" class="text-danger">
                El Porcentaje máximo es 100.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-ligth" (click)="limpiar()">Limpiar</button>
            <button type="submit" class="btn btnLogin">Agregar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>