<!-- Formulario Editar Experiencia -->
<div class="container p-1" *ngIf="persona">
  <h3>-Editar Persona-</h3>
  <hr>
  <div class="row">
    <div>
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombre" class="form-label">Nombre:</label>
          <input type="texto" class="form-control" id="nombre" name="nombre" 
          [(ngModel)]="persona.nombre" required placeholder="Nombre">
        </div>
        <div class="form-group">
          <label for="" class="form-label">Apellido:</label>
          <input type="texto" class="form-control" id="apellido" name="apellido" 
          [(ngModel)]="persona.apellido" required placeholder="Apellido"> 
        </div>
        <div class="form-group">
          <label for="posicion" class="form-label">Posición:</label>
          <input type="texto" class="form-control" id="posicion" name="posicion" 
          [(ngModel)]="persona.posicion" required placeholder="Posición actual">
        </div>
        <div class="form-group">
          <label for="sobreMi" class="form-label">Sobre Mi:</label>
          <input type="texto" class="form-control" id="sobreMi" name="sobreMi" 
          [(ngModel)]="persona.sobreMi" required placeholder="Sobre mi...">
        </div>
        <div class="form-group">
          <label for="img" class="form-label">Foto de Perfil:</label>
          <input type="file" class="form-control" id="img" name="img" 
          [(ngModel)]="persona.img" required (change)="uploadImage($event)" accept=".jpg, .jpeg, .png"
          placeholder="Foto Perfil">
        </div>
        <div class="imagen">
          <img [src]="imageService.url" width="200px">
        </div>
        <div class="form-group">
          <label for="banner" class="form-label">Banner:</label>
          <input type="url" class="form-control" id="banner" name="banner" 
          [(ngModel)]="persona.banner" required placeholder="Ingrese la URL"> 
        </div>
        <div class="form-group">
          <label for="linkW" class="form-label">Link Whatsapp:</label>
          <input type="texto" class="form-control" id="linkW" name="linkW" 
          [(ngModel)]="persona.linkW" required placeholder="Link Whatsapp">
        </div>
        <div class="form-group">
          <label for="linkE" class="form-label">Link Mail:</label>
          <input type="texto" class="form-control" id="linkE" name="linkE" 
          [(ngModel)]="persona.linkE" required placeholder="Link Mail">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btnLogin">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>