<!--Barra de navegacion-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark"> <!-- Fixed-top, deja la navbar fija-->
  <div class="container-fluid">
    <!--Logo AP-->
    <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/" target="_blank">
      <img class="logo" src="assets/img/logoAP.png" alt="Logo AP">
    </a>
    <!-- Redes Sociales -->
    <div class="iconos">
      <ul class="navbar-nav flex-row flex-wrap align-items-center text-light ms-auto">
        <li class="redes nav-item col-3 col-md-none p-1">
          <a href="https://www.linkedin.com/in/ffperezs/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </li>
        <li class="redes nav-item col-3 col-md-none p-1">
          <a href="https://github.com/ffperezs" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github"></i>
          </a>
        </li>
        <li class="redes nav-item col-3 col-md-none p-1">
          <a href="https://www.instagram.com/ffperezs/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <!-- Button login -->
        <li class="log nav-item col-3 col-md-none p-1">
          <a  class="icono" type="Button" (click)="login()" *ngIf="!isLogged" rel="noopener noreferrer">
            <i class="fa-solid fa-user-lock"></i>
          </a>
          <a  class="icono" type="Button" (click)="onLogOut()" *ngIf="isLogged" rel="noopener noreferrer">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </a>
        </li>
        <!-- Button logout -->
      </ul>
    </div>
  </div>
</nav>