<!-- Contacto -->
<section id="contacto" class="contacto seccion-oscura">
  <div class="container">
    <div class="container text-center rectangulo d-flex justify-content-evenly">
      <div class="row">
        <div class="col-12 col-md-4 seccion-titulo">
          ¡Hablemos!
        </div>
        <div class="col-12 col-md-4 descripcion">
          Contactame para iniciar tu proyecto de desarrollo web y haré que tu visión se haga realidad...
        </div>
        <div class="col-12 col-md-4">
          <a href="mailto:perezsanchezff@gmail.com">
            <button>
              Contacto
              <i class="fa-solid fa-envelope-circle-check"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
