<!-- Formulario Editar Experiencia -->
<div class="container p-3" *ngIf="experiencia">
  <h3>-Editar Experiencia-</h3>
  <hr>
  <div class="row">
    <div>
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombreExp" class="form-label titulo">Nombre de la empresa:</label>
          <input type="text" class="form-control" id="nombreExp" name="nombreExp" placeholder="Ingrese el nuevo Nombre"
           [(ngModel)]="experiencia.nombreExp" required>
        </div>
        <div class="form-group">
          <label for="puesto" class="form-label titulo">Cargo Actual:</label>
          <input type="text" class="form-control" id="puesto" name="puesto" placeholder="Ingrese el nuevo Cargo"
            [(ngModel)]="experiencia.puesto" required>
        </div>
        <div class="form-group">
          <label for="logo" class="form-label titulo">Logo:</label>
          <input type="url" class="form-control" id="logo" name="logo" placeholder="Ingrese la URL"
            [(ngModel)]="experiencia.logo" required>
        </div>
        <div class="form-group">
          <label for="linkWeb" class="form-label titulo">Pagina WEB:</label>
          <input type="url" class="form-control" id="linkWeb" name="linkWeb" placeholder="https://www..."
            [(ngModel)]="experiencia.linkWeb" required>
        </div>
        <div class="form-group">
          <label for="inicio" class="form-label titulo">Inicio:</label>
          <input type="date" class="form-control" id="inicio" name="inicio" 
          [(ngModel)]="experiencia.inicio" required>
        </div>
        <div class="form-group">
          <label for="fin" class="form-label titulo">Fin:</label>
          <input type="texto" class="form-control" id="fin" name="fin" 
          [(ngModel)]="experiencia.fin" required>
        </div>
        <div class="form-group">
          <label for="tarea1" class="form-label titulo">Tarea 1:</label>
          <input type="texto" class="form-control" id="tarea1" name="tarea1" 
          [(ngModel)]="experiencia.tarea1" required>
        </div>
        <div class="form-group">
          <label for="tarea2" class="form-label titulo">Tarea 2:</label>
          <input type="texto" class="form-control" id="tarea2" name="tarea2" 
          [(ngModel)]="experiencia.tarea2" required>
        </div>
        <div class="form-group">
          <label for="tarea3" class="form-label titulo">Tarea 3:</label>
          <input type="texto" class="form-control" id="tarea3" name="tarea3" 
          [(ngModel)]="experiencia.tarea3" required>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btnLogin">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>