<!-- Modal Nueva Proyecto -->
<div class="modal fade" id="new-pro" tabindex="-1" aria-labelledby="new-pro" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-pro">Nuevo Proyecto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
      </div>
      <!-- formulario Nueva Proyecto-->
      <form [formGroup]="form" (ngSubmit)="onCreate()" novalidate #f="ngForm" name="new-pro">
        <div class="modal-body">
          <div class="mb-3">
            <label for="nombrePro" class="form-label">Nombre del Proyecto:</label>
            <input type="text" class="form-control" placeholder="Ingrese el nombre del Proyecto" formControlName="nombrePro"
              [ngClass]="{'is-invalid': NombrePro.errors && NombrePro.touched, 'is-valid': !NombrePro.errors && NombrePro.touched}">
            <div *ngIf="NombrePro.errors && NombrePro.touched" class="invalid-feedback">
              <p *ngIf="NombrePro.errors['required']">
                El Nombre es requerido.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="linkGit" class="form-label">URL Git:</label>
            <input type="url" class="form-control" placeholder="Ingrese el Cargo" formControlName="linkGit"
              [ngClass]="{'is-invalid': Img.errors && Img.touched, 'is-valid': !Img.errors && Img.touched}">
            <div *ngIf="Img.errors && Img.touched">
              <p *ngIf="Img.hasError('required')" class="text-danger">
                La URL es requerida.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="linkPro" class="form-label">URL Proyecto:</label>
            <input type="url" class="form-control" placeholder="Ingrese la URL" formControlName="linkPro">
          </div>
          <div class="mb-3">
            <label for="img" class="form-label">Imagen:</label>
            <input type="text" class="form-control" placeholder="Nueva Imagen" formControlName="img"
            [ngClass]="{'is-invalid': Img.errors && Img.touched, 'is-valid': !Img.errors && Img.touched}">
            <div *ngIf="Img.errors && Img.touched">
              <p *ngIf="Img.hasError('required')" class="text-danger">
                La Imagen es requerida.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark border m-2" (click)="limpiar()">Limpiar</button>
            <button type="submit" class="btn btn-outline-dark border m-2">Agregar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>