body{
	background-image: url(assets/img/body.jpg);
	max-width: 100%;
}


section h1{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    text-shadow: 1px 1px white, -1.5px -1.5px gray;
}


/* Estilos generales*/

.seccion-oscura{
    color: #FFF;
    background-color: #252A2E;
}

.seccion-clara{
    color: #252A2E;
    background-color: #FFF;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Righteous';
    text-shadow: 1px 1px white, -1.5px -1.5px gray;
}

.seccion-descripcion{
    font-size: 1.5rem;
    color: #252A2E;
}

.seccion-texto{
    font-size: 1.5rem;
}

.texto-negro{
    color: #252A2E;
}

.texto-blanco{
    color: white;
}

.btn{
    background-color: transparent;
    font-size: 0.7rem;
    padding: 5px 20px;
}

#btn-Modal{
    padding: 5px;
    margin-bottom: 15px;

}